.Blog-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2rem;
  border-bottom: 2px solid #847D7D;
  padding-bottom: 20px;
  margin-bottom: 16px;
  margin-top: 50px;
}

.Blog {
  position: relative;
  min-height: 100vh;
}

.Blog-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-bottom: 100px;
  /* margin: 66px 0; */
}

.logo {
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  padding-right: 8px;
}

@media (min-width: 375px) {
  .Blog-content {
    /* margin: 0 24px; */
  }
}

@media (min-width: 480px) {
  .Blog-content  {
    /* margin: 0 44px; */
  }
  .logo {
    width: 100px;
    font-size: 48px;
    padding-left: 12px;
  }
}

@media (min-width: 900px) {
  .Blog-content  {
    /* margin: 0 56px; */
  }
}

@media (min-width: 1024px) {
  .Blog {
    margin: 0 0;
  }
  .Blog-content{
    flex-direction: row;
  }
  .Blog-header {
    margin-bottom: 30px;
    height: 108px;
    margin-top: 0;
  }
}

@media (width: 1024px) {
  .Blog{
    /* margin: 0 24px; */
  }
}








