.Blog-header {
  color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmax);
}

.Blog-content {
  display: flex;
  flex-direction: row;
}
