.post {
    margin-bottom: 20px;
}

.post .title {
    text-decoration: none;
    color: #847D7D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.post .subtitle {
    font-size: 14px;
}

.post .date {
    font-size: 14px;
    color: #847D7D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}