/*TODO Responsive Styling*/
.read {
    /* border-bottom: 2px solid #847D7D; */
}

.read .heading {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  position: relative;
}

.read .title {
    font-size: 56px;
    margin: 0;
    /* line-height: 72px; */
    font-weight: 300;
}

.read .date {
    font-size: 14px;
    margin: 0;
}

.read .subtitle {
    font-size: 24px;
    /* font-weight: 700; */
    margin: 10px 0 0 0 ;
    /* font-weight: 300; */
}

.read .body {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

.read .body hr {
    display: none;
}

.read .body a {
    color: #000000;
    cursor: pointer;
}

.read .body a:hover {
    color: grey;
}

.read .body h2 {
    font-size: 32px;
    font-weight: 575;
    margin-bottom: -10px;
    margin-top: 60px;
}

.read .body h3 {
    font-size: 24px;
    font-weight: 575;
    margin-bottom: -10px;
    margin-top: 30px;
}

.read .body h4 {
    font-size: 20px;
    font-weight: 575;
    margin-bottom: -10px;
    margin-top: 30px;
}

@media (min-width: 1024px) {
    .read {
        /* border-left: 1.5px solid #847D7D; */
        width: 75%;
        min-height: 500px;
        /* padding-left: 40px; */
        padding: 66px 10% 66px 5%;
        border-bottom: 0;
    }
    .read .heading {
        flex-wrap: nowrap;
    }
    .read .title:first-line {
        /* line-height: 48px; */
        /* width: 50%; */
    }
    .read .title:before {
        content:'';
        float: right;
        width: 150px;
        height: 56px;
    }
    .read .date {
        font-size: 16px;
        /* min-width: 150px; */
        position: absolute;
        top: 0;
        right: 0;
        /* float: right; */
        /* flex-wrap: nowrap; */
    }
    .read .subtitle {
        margin: 10px 0 30px 0;
    }
    .read .body {
        margin-bottom: 0;
    }
}